/* *{
    background-color: aqua;
} */
.Appbar_mainDiv{
    display: flex;
    padding-left: 10px;
    border: 1px solid;
    width: 30%;
}
.sideDiv{
   
    /* border: 1px solid; */
}
.AppBar_header{
    margin-top: 20px;
    border: 1px solid #FAFAFA;
    background: #FAFAFA;
    width: 90%;
    height: 35px;
}